
@import url('https://fonts.googleapis.com/css2?family=Londrina+Sketch&family=Oxanium:wght@200..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* font-family: "Oxanium", sans-serif; */
/* font-family: "PT Sans", sans-serif;
font-family: "Poppins", sans-serif; */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 
}
:root{
  --purple:#300240;
  --lightBlue:#7238C9;
  --orange:#D806DD;
  --yellow:#EFCD4A;
  --blue:#0B7EF3 ;
  /* --dark:#00000A  ; */
  --dark:#00072d;
  --offWhite:#EBF1F1 ;
  --green:#A3FDA1;
  --coldSteel:#E3EDF8;
  --gray:rgb(76, 76, 76);
}
.logo{
  font-family: "Londrina Sketch", sans-serif;
}
button:disabled{
  background-color: #9a8c98  !important;
  cursor: none !important;
  
}
button:disabled > * {
  color:orangered !important
}
li{
  list-style: none;
}
a{
  text-decoration: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
  -webkit-appearance: none;
  margin: 0;
}
